@import "partial/variables.scss";
@import "partial/customBootstrap.scss";
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "partial/navbar.scss";
@import "partial/timerlist.scss";
@import "partial/projectssettings.scss";
@import "partial/jobtable.scss";
@import "partial/sidebar.scss";
@import "partial/appsettings.scss";
@import "partial/main.scss";