#jobtableMainContent{
    width: 100%;
    height: 100%;
    overflow: auto;    
}

.currentMonth{
    width: 168px;
    height: 31px;
    display: inline;
}

.custom-select{
    background: none !important;
}

.dataTable{
    width: 100% !important;
    background-color: white;
}

td {
    height: 10px;
    padding-top: 4px !important;
    padding-bottom: 4px !important;
    
 }

.table-input{
    height: 30px;
}

.table-select{
    height: 30px;
    padding-top: 2px;
}