body {
    font-family: Roboto;
    font-weight: 300;
}

::selection {
    background: $secondcolor;
}

.progress-view {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    position: absolute;
    top: 0px;
    left: 0px;
}

.progress-icon {
    color: $maincolor;
    position: absolute;
    top: 50%;
    left: 50%;
}

#mainContent {
    margin-top: $navbar-height;
    margin-bottom: $footerHeight;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 1029;
}

.mainContent {
    margin-top: $navbar-height;
    margin-bottom: $footerHeight;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 1029;
    
}

.update-message{
    font-size: 14px;
}

.background{
    background-color: rgba(255,255,255, 0.75);

    background-size: cover;
    position:fixed;
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100%;
    height: 100%;

    z-index: -1;
}

.loginImg{
    border-radius: 50%;
    border: 3px;
    border-color: white;
}

.logo {
    vertical-align: sub;
}

.mainMenu {
    margin: 3px;
}

.inputTimeGroup {
    margin: 3px;
}

#inputTime {
    width: 100px;
}

#footerRightContent {
    margin: 5px;
    float: right;
    font-size: 15px;
}

#footerLeftContent {
    margin: 5px;
    float: left;
    font-size: 15px;
}

.btn-default {
    background-color: #a4244a;
    color: #fff !important;
    border-color: #adadad;
    border-radius: 5px;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active {
    background-color: #a46c7d;
    color: #333;
    border-color: #adadad;
}

.nav-item.selected {
    background-color: #8d1e3f;
}

.navbar {
    background-color: #a4244a;
    color: #FFFFFF !important; // padding: 0;
    height: $navbar-height;
}

.navbar-seperator {
    width: 1px;
    background-color: rgba(255, 255, 255, 0.2);
    height: $navbar-height - 6px;
    margin-top: 3px;
    margin-left: 10px;
    margin-right: 10px;
}

.invisible{
    display: none !important;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
border: 1px solid $maincolor;
}

::-webkit-scrollbar-thumb {
background: $maincolor;  
}

::-webkit-scrollbar-thumb:hover {
background: $maincolor;  
}

.navbar {
    -webkit-app-region:drag;
}

h1, h2, h3, h4, h5, h6 {
    -webkit-user-select: none;
}

input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="text"],
button,
textarea,
ul {
	-webkit-app-region: no-drag;
}