@import "variables";

#footer {
  color: #FFFFFF;
  background-color:#a4244a;
  height:$footerHeight;
  border-top:1px solid #000000;
  position:fixed;
  left:0;
  bottom:0;
  width:100%
}
#footerContainer {
  background-color: white;
  text-align:center;
  height:$footerHeight;
  position: fixed;
  left:0;
  bottom:0;
  width:100%;
  transition: all 0.25s ease;
  z-index: 1040;
}

#footerContainer.chart {
  height:$footerHeight+$chartHeight;
}

#buttonSymbol {
  transition: all 0.25s ease;
}

#buttonSymbol.down{
  transform: rotate(180deg);
}

#sidebarButton {
  background: #a4244a;
  border-top-left-radius: $buttonSize * 2;
  border-top-right-radius: $buttonSize * 2;
  height: $buttonSize;
  width: $buttonSize * 2;
  cursor: pointer;
  margin: 0 auto;
  transition: all 0.25s ease;

}

#sidebarContainer {
  position: absolute;
  width: 100%;
}

#sidebarButton.show {
  transform: translate(0,-1 * $buttonSize);
}

#chartContainer {
  background-color: white;
  position: absolute;
  vertical-align: top;
  width: 100%;
  border-top: 1px solid #000000;
  height: $chartHeight;
}
