@media (max-width: 720px){
    .collapsedBySize {
      display: none;
    }
    .visibleBySize {
      display: inline-block !important;
    }
}

.job-duration{
  color: black;
}

.visibleBySize {
  display: none;
}

.timer-btn .timer-play-btn{
  display: inline-block;
}

.timer-btn.active .timer-play-btn{
  display: none;
}

.timer-btn .timer-pause-btn{
  display: none;
}

.timer-btn.active .timer-pause-btn{
  display: inline-block;
}

.text-input-job{
  box-shadow: none !important;
}

.job-list-item{
  margin: 3px;
  border-radius: 0.5rem !important;
  background-color: rgba(255,255,255,0.75) !important;
}

.currentEntry {
  border-color: $maincolor;
  border-width: 2px;
}

.hLine {
  background-color: $maincolor;
  width: 100%;
  height: 2px;
  display: block;
  margin-top: 4px;
  margin-bottom: 1px;
}

.btnDateChange {
  margin: 3px;
  width: 30px;
  height: 30px;
  padding: 2px;
}

.dateSelector {
  height: auto;
  text-align: center;
  vertical-align: middle;
  background-color: rgba(255,255,255,0.75);
  width: 100%;
}

.currentDate {
  margin: auto;
  vertical-align: middle;
  width: auto;
  font-size: 20px;
  border: 0px;
  width: 100px;
  background-color: rgba(255,255,255,0)
}

.datepicker {
  z-index: 9999999;
}

.datepicker--day-name {
  color: #a4244a;
}

.noteTextArea{
  height: 150px;
  resize: none;
}
