.dateSelector{
  height: 38px;
  margin-top: 58px;
  text-align: center;
  vertical-align: middle;
  background-color: #FFFFFF;
}

.currentDate{
  margin: auto;
  vertical-align: middle;
  width: auto;
  font-size: 20px;
  border: 0px;
  width: 100px;
}

.datepicker--day-name {
  color: #a4244a;
}

.mainMenu{
  margin: 3px;
}

.inputTimeGroup{
  margin: 3px;
}

.btnDateChange{
  margin-left: 3px;
  margin-right: 3px;
}

#inputTime{
  width: 100px;
}

#textTimer{
  margin: 5px;
  font-size: 20px;
}

#footerRightContent{
  margin: 5px;
  float: right;
  font-size: 15px;
}

#footerLeftContent{
  margin: 5px;
  float: left;
  font-size: 15px;
}

.hLine{
  background-color: #a4244a;
  width: 100%;
  height: 1px;
  display: block;
  margin-top: 8px;
  margin-bottom: 1px;
}

.btn-default {
    background-color: #a4244a;
    color: #fff !important;
    border-color: #adadad;
    border-radius: 5px;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active    {
    background-color: #a46c7d;
    color: #333;
    border-color: #adadad;
}

#footer {
  color: #FFFFFF;
  background-color:#a4244a;
  height:30px;
  border-top:1px solid #000000;
  position:fixed;
  left:0;
  bottom:0;
  width:100%
}

.navbar{
  background-color:#a4244a;
  color: #FFFFFF !important;
}
